:root { 
--white_A700_cc:#ffffffcc; 
--gray_700:#565656; 
--gray_500:#b8967b; 
--black_900_33:#00000033; 
--blue_gray_100:#d3d4d5; 
--black_900:#000000; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--gray_300:#dddddd; 
--gray_50:#f8f9fa; 
--deep_orange_100:#f5b4b4; 
--gray_100:#f5f4f4; 
}